<div id="welcome">
	<div class="row align-items-center justify-content-md-center">
		<div class="col-md-auto">
			<form
				class="row row-cols-lg-auto g-3 align-items-center"
				style="margin-top: 20px"
			>
				<div class="col-12">
					<input
						type="text"
						id="inputGameID"
						placeholder="GameID"
						class="form-control"
					/>
				</div>
				<div class="col-12">
					<button
						type="submit"
						class="btn btn-primary"
						onclick="handleGameID(event);"
					>
						Join Game
					</button>
				</div>
			</form>
		</div>
	</div>

	<div class="row align-items-center justify-content-md-center">
		<div class="col-md-auto">
			<h3>Or</h3>
		</div>
	</div>

	<div class="row align-items-center justify-content-md-center">
		<div class="col-md-6">
			<button
				type="submit"
				class="btn btn-primary"
				onclick="handleNewGame(event);"
			>
				Create a New Game
			</button>
		</div>
	</div>
</div>
