<div id="zoomForm">
	<div class="row align-items-center justify-content-md-center">
		<div class="col-md-auto">
			<form
				class="row row-cols-lg-auto g-3 align-items-center"
				style="margin-top: 20px"
			>
				<div class="col-12">
					<input
						type="number"
						id="inputZoom"
						placeholder="Zoom Map?"
						class="form-control"
					/>
				</div>
				<div class="col-12">
					<button
						type="submit"
						class="btn btn-primary"
						onclick="handleZoom(event);"
					>
						Apply Zoom
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
