#mainDiv {
	background-image: url('/images/map.jpg');
	background-repeat: no-repeat;
	width: 1018px;
	height: 809px;
	position: relative;
}

.insideDiv {
	position: absolute;
	width: 20px;
	height: 20px;
	border: 5px solid;
	border-color: transparent;
	border-radius: 15px;
}

body {
	margin: 0;
}
